body{
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
h1{
    font-size: 50px;
}
.orange_highlight{
    color: orange;
}
.half_width{
    width: 40%;
    margin-left: 5%;
    padding: 2%;
    float: left;
}
.half_width img{
    width: 100%;
}
.half_width p{
    color: gray;
}
.top_banner{
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
}
.dream_area{
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}
.single_ex{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
}
#full_stack{
    border-left: 7px solid;
    border-image: linear-gradient(lightSalmon, tomato);
    border-image-slice: 1;
}
#learner{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
    font-size: 17px;
    color: gray;
}